.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
  border: 0;
}

.navbar{
  margin: 0px;
  border-left: 0px; 
  border-right-width: 0px;
  border-top-width: 0px;
}

/* Hide for mobile, show later */
.sidebar {
  display: none;
  /*overflow-y: auto;*/
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    /*top: 20px;*/
    /*bottom: 0;*/
    /*left: 0;*/
    z-index: 1000;
    display: block;
    /*padding: 20px;*/
    overflow-x: hidden;
    /*overflow-y: auto;*/ /* Scrollable contents if viewport is shorter than content. */
    overflow-y: hidden;
    background-color: #293339;
  }
}
@media (max-width: 767px) {
  #sidebar-wrapper {
    z-index: 1000;
    /*position: fixed;*/
    /*width: 0;*/
    height: 100%;
    min-height: 100px;
    /*overflow-y: auto;*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    z-index: 1000;
    /*position: fixed;*/
    /*width: 0;*/
    height: 100%;
    min-height: 520px;
    /*overflow-y: auto;*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}



/* Sidebar navigation */
.nav-sidebar {
  /*margin-right: -21px;*/ /* 20px padding + 1px border */
  /*margin-bottom: 20px;*/
  /*margin-left: -20px;*/
}

.nav-sidebar > li > a {
  /*padding-right: 20px;*/
  /*padding-left: 20px;*/
}
/*
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  /*background-color: #428bca;
  background-color: #293339;
  font-weight:bold;

}*/
/*
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
  background-color: #293339;
}
*/

.nav-sidebar > .active > a:hover{
  color: #fff;
  background-color: #293339;

}
.nav-sidebar > .active > a:focus{
  color: #fff;
  background-color: #293339;
  font-weight:bold;
}

.main {
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 20px;
    padding-left: 20px;
    
  }
}

.main .page-header {
  margin-top: 0;
}

/* Toggle Styles */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    /*padding-left: 250px;*/

}

#wrapper.toggled #sidebar-wrapper {
    /*width: 250px;*/
    position: fixed;
    margin-top: -65px;
}

#wrapper.toggled #contenido-pagina{
  /*background-color: rgba(41, 51, 57, 0.2);*/ /*Hace que el fondo oscuresca al apretat el boton de abrir menu*/
  color: rgb(55, 69, 77, 0.2);
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

@media(min-width:768px) {
  
  #wrapper {
      /*padding-left: 0;*/
  }

  #wrapper.toggled {
      /*padding-left: 250px;*/
  }


  #sidebar-wrapper {
     /* width: 0;*/
  }

  #wrapper.toggled #sidebar-wrapper {
    /*width: 250px;*/
  }

  #page-content-wrapper {
      padding: 20px;
      position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
  }

  #wrapper.toggled #contenido-pagina{
    background-color: rgba(41, 51, 57, 0.5);
    color: rgb(55, 69, 77, 0.5);
  }
  
}

@media(min-width:769px) {
  
  #wrapper {
      /*padding-left: 0;*/
      
  }

  #wrapper.toggled {
      /*padding-left: 250px;*/
      
  }

  #sidebar-wrapper {
     /* width: 0;*/
  }

  #wrapper.toggled #sidebar-wrapper {
    /*width: 250px;*/
    background-color: rgb(55, 69, 77);
    color:rgb(51, 51, 51);

  }
  
  #wrapper.toggled #contenido-pagina{
    background-color: inherit;
    color: rgb(51, 51, 51);
  }

}


.nav{
  font-size:17px;
  color: #FFFFFF;
}

.nav li:hover > ul{
  display:block;
}

h1 {
  color: #0073CF;
  font-size: 32px;
}

.navbar-default{
  background-color: #FFFFFF;
}

.navbar-static-top {
  margin-bottom: 19px;
  min-height: 10px;
}

a:focus, a:hover {
    text-decoration: none;
}

.row{
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

.padding-fix{
  padding: 10;
}

input[type="email"] {
  border: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.btn{
  border-radius: 0;
  border: 0px;
}

.form-control{
  border-radius: 0;
}

#div-center{
  margin-top: 150px;
  margin-bottom: 1200px;
}

#caja-busqueda{
  height: 41px;
  padding-left: 7px;
  max-width: 500px;
  width: 80%;
  border-color: #939A9D;
}

#btn-buscar{
  height: 41px;
  max-width: 135px;
  width: 20%;
  border: 0px;
  font-weight:bold; 
}

#titulo-principal{
  color: #007fad;
}

#trivago-center{
  font-size: 28px;
  font-weight:bold; 
  /*margin-left: 440px;*/
}

#ul-trivago-center{
  padding-left: 0px;
  margin-bottom: 0px;
}


/* -- Inicio Footer -- */
.footer-fondo-pantalla-principal{
  background-color: #293339;
  padding-bottom: 15px;
}

.footer-fondo{
  background-color: #293339;
  color: #fff;
  padding-left: 10px; 
  padding-right: 10px;
}

.arreglo{
  border-bottom: 2px solid #697379;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#email-index{
  height: 35px; 
  /*max-width: 100%;*/
  color: #000;
  padding-left: 10px;
   width: 70%; /* Se dejo en 70% para que este en linea con el boton*/
}

#btn-suscribirse{
  background-color: #697379;
  height: 35px;
  font-weight: bold;
  width: 30%; /* Se dejo en 30% para que este en linea con la caja*/
  margin-top: -2px;
  border-radius: 0;
  border: 0px;
  overflow-x: hidden;
  border-radius: 0;
  border: 0px;
}

#btn-suscribirse:hover{
  background-color: #37454D;
  border: 0px;
}

.subtitulos-footer{
  /*padding: 0px 10px;*/
  border-bottom: 2px solid #37454D;
  box-sizing:border-box;
  font-size:16px;
  font-weight:bold;
  line-height:20px;
  
  margin-bottom:12px;
  /*margin-left:16px;*/
  /*margin-right:16px;*/
  
  padding-bottom:4px;
}

.fa{
  color: white;
}

.lista-no-enumerdada{
  list-style: none;
  padding-left: 0px;

}

.white-link{
  color: white;
}

.white-link:hover{
  color: white;
  text-decoration: underline;
}

.subtitulo-direccion{
  box-sizing:border-box;
  color:rgb(155, 162, 166);
  direction:ltr;
  display:inline;
  font-size:12px;
  /*font-weight:bold;*/
  height:auto;
  line-height:18px;
  text-align:left;
}

.footer-fondo-pantalla-secundario{
  background-color: #37454D;
}

.footer-fondo-pantalla-dos{   
  padding: 32px;
  color: #9BA2A6;
  background: #37454D;
}

.subtitulo-derechos-reservados{
  box-sizing: border-box;
  color: rgb(155, 162, 166);
  display: block;
  font-size: 12px;
  height: 43px;
  line-height: 15px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  text-align: center;
}
/* -- Fin Footer -- */


body {
  background-color: rgb(235, 236, 237);
  box-sizing: border-box; /*Inherited: No*/
  font-family: Arial, Helvetica, Sans, sans-serif, "Sans Serif";
  font-size: 16px; 
  line-height: 20px; /*Inherited: Yes - Interlineado*/
  margin: 0; /*Inherited: No*/
  max-width: 100%; /*Inherited:No*/
  overflow-x: hidden;
  overflow-y: scroll;
}

header, nav, section, aside, article, figure, footer {
  box-sizing: border-box;
  display: block;
}


/* ---- Barra Navegacion Top ---- */
.envoltura-barra-navegacion-top{
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(41, 51, 57, 0.5) 0px 1px 4px 0px;
  box-sizing: border-box;
  display: block;
  height: 64px;
  justify-content: flex-end;
  max-width: 100%;
  margin: 0px;
  position: relative;
}

.navbar-header{
  height: 64px;
}

.boton-barra-menu{
  background-color: rgb(255, 255, 255);
  border-color: #EBECED;
  font-family: Arial, Helvetica, Sans, sans-serif, "Sans Serif", 'Glyphicons Halflings';
  /*font-size: 16px; */
  /*line-height: 20px; /*Inherited: Yes - Interlineado*/
}

.foto{
  box-sizing: border-box;
  display: block;
  text-align: center;
  margin-top: 15px;
  width: 100%;
}
/* -- Fin Barra Navegacion Top -- */


/* ---- Cuerpo Pagina ---- */
.container-fluid-fix{
  padding-left: 0px; /*Sin esto tienen 15px de padding*/
  padding-right: 0px; /*Sin esto tienen 15px de padding*/
  height: 90vh;
}

.row-margin-fix{
  margin-left: 0px; /*Sin esto tienen 15px de margin*/
  margin-right: 0px; /*Sin esto tienen 15px de margin*/
  height: 100%;
}
/* ---- Fin Cuerpo Pagina ---- */


/* -- Barra de Navagacion Principal Izquierda -- */
@media (max-width: 767px){
  .envoltura-barra-principal{
    background-color: rgb(55, 69, 77);
    box-sizing: border-box;
    display: block;
    left: auto;
    position: static;
    max-width: 100%;
    padding-left: 0px; 
    padding-right: 0px;
    overflow-y: scroll;
    /*position: relative;*/
  }
}

@media (min-width: 768px){
  .envoltura-barra-principal{
    background-color: rgb(55, 69, 77);
    box-sizing: border-box;
    display: block;
    left: auto;
    position: static;
    max-width: 100%;
    padding-left: 0px; 
    padding-right: 0px;
    /*position: relative;*/
  }
}

.hidden-xs{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.borde{
  border-bottom: 1px solid #293339;
}

.borde-dos{
  margin-top: 38px;
}

.borde-tres{
  margin-top: 38px;
  border-top: 1px solid #293339;
}

.borde-close{
  border-bottom: 1px solid #293339;
  border-right: 1px solid #293339;
}

.lista{
  box-sizing: border-box;
  color: rgb(205, 208, 210);
  
  cursor: auto; /*specifies the type of cursor to be displayed when pointing on an element.*/
  display: block; /*block; Displays an element as a block element (like <p>)*/
  
  margin: 0px;

  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  
  text-align: left;
}

.nav > li > a{
  /* position: relative; */
  /* display: block; */
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
}

.navbar-toggle:focus, .navbar-toggle:hover {
  background-color: rgb(250, 251, 252);
}

.navbar-toggle {
  border-color: #EBECED;
}

.navbar-collapse, .navbar-form {
  border-color: #EBECED;
  /*border-color: #293339;*/
  /*background-color: #37454D;*/
  background-color: rgb(255, 255, 255);
}

.navbar-toggle {
  position: relative;
  float: left;
  padding: 12px 18px;
  
  margin-right: 4px;
  margin-left: 2px;
  margin-top: 8px;
  margin-bottom: 2px;
  
  background-color: transparent;
  background-image: none;
  border: 1px solid #EBECED;
  border-radius: 2px;
  /*border-color: #EBECED;*/
}

/*Esto es para el logo de Trivago en la barra superior*/
@media (min-width: 768px){
  .navbar-header {
    float: none;
  }
}
/* ^-- Barra de Navagacion Principal Izquierda --^ */


/* -- Contenido de la Pagina -- */
.titulo-cuenta{
  box-sizing:border-box;
  display: block;
  color: #37454D;
  font-size: 20px;
  line-height:25px;
  
  margin: 0px;
  padding-bottom:20px;
  padding-left:0px;
  padding-right:0px;
  padding-top:4px;  
}
/* ^-- Fin Contenido de la Pagina --^ */


/* -- Foto de Fondo -- */
.fondo-tarjeta{
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(255, 255, 255);
  background-image: none;
  background-origin: padding-box;
  background-size: auto;

  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  
  box-shadow: rgba(41, 51, 57, 0.5) 0px 1px 4px 0px;
  box-sizing: border-box;
  display: block;

  height:165px;

  margin-bottom: 32px;
  max-height: 165px;
  /*max-width:100%;*/
  overflow-x:hidden;
  overflow-y:hidden;
}

.fondo-tarjeta-envoltura{
  box-sizing:border-box;
  display:block;
  position:relative;
}

.fondo-tarjeta-imagen{
  box-sizing:border-box;
  display:block;
  height:100px;
  position:relative;
}

.fondo-tarjeta-imagen-final{
  box-sizing:border-box;
  color:rgb(55, 69, 77);
  display:block;

  line-height:20px;
  max-height:100px;
  max-width:100%;
  overflow-x:hidden;
  overflow-y:hidden;
  position:relative;
}

.imagen-fondo{
  border-image-repeat:stretch;
  border-image-slice:100%;
  border-image-source:none;
  border-image-width:1;
  
  border-top-color:rgb(55, 69, 77);
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  
  box-sizing:border-box;
  color:rgb(55, 69, 77);
  direction:ltr;
  display:inline;
  
  height:240px;
  left:0px;
  line-height:20px;
  margin-top:-50px;
  
  width: 100%;
  
  position:relative;
  top: 0px;
  vertical-align: middle;
}

.gradiente{
  background-image:linear-gradient(rgba(41, 51, 57, 0.9), transparent);
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  box-sizing:border-box;
  display:block;
  height:50px;
  left:0px;
  line-height:20px;
  position:absolute;
  top:0px;
  /*width:1065px;*/
  width: 100%;
}

.mensaje-bienvenida{
  box-sizing:border-box;
  color:rgb(255, 255, 255);
  display:block;

  font-weight:bold;
  font-size: 16px;
  
  margin: 0px;
  padding-bottom:0px;
  padding-left:16px;
  padding-right:16px;
  padding-top:0px;
  
  position:absolute;
  text-align:left;
  text-shadow:rgba(41, 51, 57, 0.5) 0px 1px 4px;
  top:16px;
}

.random1{
  bottom:-50px;
  box-sizing:border-box;
  color:rgb(55, 69, 77);
  display:block;
  height:113px;
  left:532.5px;
  line-height:20px;
  position:absolute;
  transform:matrix(1, 0, 0, 1, -56.5, 0);
}

.fondo-avatar{
  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
  border-top-left-radius:50%;
  border-top-right-radius:50%;
  box-sizing:border-box;
  display:block;

  margin-top:0px;
  opacity:0;
  position:absolute;
  top:0px;
  width:100%;
}

.fondo-tarjeta-titulo{
  box-sizing:border-box;

  display:block;

  font-size:14px;
  font-weight:bold;
  height:17px;
  line-height:17.5px;

  margin-bottom:16px;
  margin-left:0px;
  margin-right:0px;
  margin-top:16px;
  padding-left:16px;
  padding-right:16px;

  text-align:left;
  width:426px
}
/* ^-- Fin Foto de Fondo --^ */


/* --  Tablas de Informacion -- */
.arreglo-tamanio{
  margin-top: -25px;
}

.sub-titulo-cuenta{
  box-sizing:border-box;
  display:inline-block;
  color:rgb(105, 115, 121);

  font-size:16px;
  font-weight:normal;
  line-height:20px;
  
  margin-bottom:20px;
  margin-left:0px;
  margin-top:0px;
}

.resumen-cuenta{
  box-sizing:border-box;

  display:flex;
  font-size:16px;

  line-height:20px;
  margin-left:-8px;
  margin-right:-8px;
}

.tabla-resumen{ 
  box-sizing: border-box;
  display:flex;
  flex-direction:column;
  font-size:16px;
  line-height:20px; /* Interlineado, Inherited: yes*/
  padding-bottom:0px;
  padding-left:8px;
  padding-right:8px;
  padding-top:0px;
  /*width:540.5px;*/
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    padding: 4px;
    line-height: 1;
    vertical-align: top;
    border: 0px none #ddd;
}

.sub-tabla-resumen{
  background-clip: border-box; /*The background-clip property specifies the painting area of the background.*/
  background-color: rgb(255, 255, 255);
  background-size: auto; /*Default value: auto. The background-image contains its width and height*/
  
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  
  border-top: 0px none #ddd;
  
  box-shadow: rgba(41, 51, 57, 0.5) 0px 1px 4px 0px;

  box-sizing: border-box;
  display: block;
  
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;
  
  font-size: 16px;
  line-height: 20px;
  
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  
  text-align:center;
}

.sub-tabla-titulo{
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px; /* Interlineado, Inherited: yes*/
  margin-bottom: 8px;
  margin-top: 0px;
  text-align: left;
  border-top: 0px solid #ddd;
}

.sub-tabla-infomacion{
  box-sizing: border-box;
  display:block;
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;

  margin-bottom: 16px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 16px;
  text-align: left;
}
/* -- Fin Tablas de Informacion -- */


/* ---- Ajustes!!! ---- */
.titulo-tabla-ajustes{
  /*background-color:rgb(235, 236, 237);*/
  background-color:rgb(255, 255, 255);
  box-sizing:border-box;

  cursor:pointer;
  display:block;
  font-size:14px;
  height:45px;
  line-height:17.5px;
  padding-bottom:14px;

  padding-left:40px;
  padding-right:40px;
  padding-top:14px;
  position:relative;
}

.tabla-ajustes{
  background-color:rgb(255, 255, 255);
  
  border-top-color:rgb(205, 208, 210);
  border-top-style:solid;
  border-top-width:1px;
  box-sizing:
  border-box;

  cursor:auto;
  display:block;

  font-size:14px;
  /*height:606px;*/
  line-height:17.5px;
  padding-bottom:16px;
  padding-left:32px;
  padding-right:16px;
  padding-top:16px;
}

.cuerpo-ajustes{
  background-color:rgba(255, 255, 255, 0);
  
  border-bottom-color:rgb(205, 208, 210);
  border-bottom-style:solid;
  border-bottom-width:1px;
  
  border-image-outset:0px;
  border-image-repeat:stretch;
  border-image-slice:100%;
  border-image-source:none;
  border-image-width:1;
  
  border-left-color:rgb(55, 69, 77);
  border-left-style:none;
  border-left-width:0px;
  
  border-right-color:rgb(55, 69, 77);
  border-right-style:none;
  border-right-width:0px;
  
  border-top-color:rgb(55, 69, 77);
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  border-top-style:none;
  border-top-width:0px;
  
  box-sizing:border-box;
  cursor:pointer;
  display:block;

  /*height:46px;*/
}

.titulo-tabla-ajustes:hover{
  /*background-color: #293339;*/
  background-color:rgb(235, 236, 237);

}

.envoltura-cuerpo-ajustes{
  background-attachment:scroll;
  background-clip:border-box;
  background-color:rgb(255, 255, 255);
  background-image:none;
  background-origin:padding-box;
  background-position-x:0%;
  background-position-y:0%;
  background-size:auto;
  
  border-bottom-color:rgb(155, 162, 166);
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  border-bottom-style:solid;
  border-bottom-width:1px;
  
  border-image-outset:0px;
  border-image-repeat:stretch;
  border-image-slice:100%;
  border-image-source:none;
  border-image-width:1;
  
  border-left-color:rgb(55, 69, 77);
  border-left-style:none;
  border-left-width:0px;
  
  border-right-color:rgb(55, 69, 77);
  border-right-style:none;
  border-right-width:0px;
  
  border-top-color:rgb(55, 69, 77);
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  border-top-style:none;
  border-top-width:0px;
  
  box-shadow:rgba(41, 51, 57, 0.5) 0px 1px 4px 0px;
  box-sizing:border-box;
  display:block;
}

.prueba-div{
  min-width: 150px;
  max-width: 325px;
  width: 100%;
}

@media (min-width: 768px){
  .form-inline .form-control {
    display: block;
    min-width: 150px;
    max-width: 325px;
    width: 100%;
    vertical-align: middle;
  }
}

.ajuste-label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 700;
  color: #37454d;
  line-height: 1.25;
}


/* ---- Reservas!!! ---- */
.envoltura-contenedor-reservas{
  background-attachment:scroll;
  background-clip:border-box;
  background-color:rgb(255, 255, 255);
  background-image:none;
  background-origin:padding-box;

  background-size:auto;
  
  border-bottom-color:rgb(155, 162, 166);
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  /*border-bottom-style:solid;*/
  /*border-bottom-width:1px;*/
  
  border-image-outset:0px;
  border-image-repeat:stretch;
  border-image-slice:100%;
  border-image-source:none;
  border-image-width:1;
  
  border-left-color:rgb(55, 69, 77);
  border-left-style:none;
  border-left-width:0px;
  
  border-right-color:rgb(55, 69, 77);
  border-right-style:none;
  border-right-width:0px;
  
  border-top-color:rgb(55, 69, 77);
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  border-top-style:none;
  border-top-width:0px;

  box-shadow:rgba(41, 51, 57, 0.5) 0px 1px 4px 0px;
  
  display:block;

  position: relative;
  padding: 16px 8px;
}

.envoltura-contenedor-reservasdos{
  background-color:rgb(255, 255, 255);
  position: relative;
  padding: 16px 8px;
}

.contenedor-reservas {
  /*background-color:rgb(255, 255, 255);*/
  max-width: 980px;
  position: relative;
  margin: 0 auto;
}

.reservas{
  text-align: center;
  box-sizing:border-box;
  display:block;
  color: #37454D;
  font-size:20px;
  line-height:25px;
  font-weight:bold;
  margin: 0px;
}


/* ---- Lista de Hoteles!!! ---- */
.envoltura-cuerpo-busqueda-reciente{
  background-attachment:scroll;
  background-clip:border-box;
  background-color:rgb(235, 236, 237);
  background-image:none;
  background-origin:padding-box;

  background-size:auto;
  
  border-bottom-color:rgb(155, 162, 166);
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  /*border-bottom-style:solid;*/
  /*border-bottom-width:1px;*/
  
  border-image-outset:0px;
  border-image-repeat:stretch;
  border-image-slice:100%;
  border-image-source:none;
  border-image-width:1;
  
  border-left-color:rgb(55, 69, 77);
  border-left-style:none;
  border-left-width:0px;
  
  border-right-color:rgb(55, 69, 77);
  border-right-style:none;
  border-right-width:0px;
  
  border-top-color:rgb(55, 69, 77);
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  border-top-style:none;
  border-top-width:0px;
  
  display:block;
}

.envoltura-titulo-lista-hoteles{
  margin-top: 10px;
  margin-bottom: 15px;
  box-sizing:border-box;
  display:block;
  padding-left:0px;
  padding-right:0px;
}

.sub-titulo-lista-hoteles{
  box-sizing:border-box;
  color:rgb(105, 115, 121);
  display:block;
  font-size:14px;
  font-weight:normal;
  height:14px;
  line-height:14px;
  padding-left:0px;
  padding-right:0px;
  margin: 0px;
}

.lista-hotel-infomacion{
  box-sizing:border-box;
  color:rgb(55, 69, 77);
  cursor:auto;
  display:
  block;font-size:
  12px;
  height:36px;
  line-height:18px;
  margin-bottom:16px;
  margin-left:0px;
  margin-right:0px;
  margin-top:16px;
  text-align:center;
}

.correccion{
  margin-bottom: 0px;
}

.lista-hotel-div{
  /*min-width: 300px;*/
  max-width: 400px;
  width: 100%;
}


/* ---- Busquedas Recientes!!! ---- */
.envoltura-cuerpo-busqueda-reciente{
  background-attachment:scroll;
  background-clip:border-box;
  background-color:rgb(235, 236, 237);
  background-image:none;
  background-origin:padding-box;

  background-size:auto;
  
  border-bottom-color:rgb(155, 162, 166);
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  /*border-bottom-style:solid;*/
  /*border-bottom-width:1px;*/
  
  border-image-outset:0px;
  border-image-repeat:stretch;
  border-image-slice:100%;
  border-image-source:none;
  border-image-width:1;
  
  border-left-color:rgb(55, 69, 77);
  border-left-style:none;
  border-left-width:0px;
  
  border-right-color:rgb(55, 69, 77);
  border-right-style:none;
  border-right-width:0px;
  
  border-top-color:rgb(55, 69, 77);
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  border-top-style:none;
  border-top-width:0px;
  
  display:block;
}

.cuerpo-busqueda-reciente{

  box-sizing:border-box;
  display:block;
  position: relative;
  width: 100%;

}

.tabla-busqueda-reciente{

background-attachment:scroll;
background-clip:border-box;
background-color:rgb(255, 255, 255);

background-origin:padding-box;
background-position-x:0%;
background-position-y:0%;

background-size:auto;

border-bottom-left-radius:2px;
border-bottom-right-radius:2px;
border-top-left-radius:2px;
border-top-right-radius:2px;
box-shadow:rgba(41, 51, 57, 0.5) 0px 1px 4px 0px;
box-sizing:border-box;

display:block;
height:184px;

margin-bottom:8px;

padding-bottom:8px;
padding-left:8px;
padding-right:8px;
padding-top:8px;

position:relative;
}

@media (max-width: 768px){
  .tabla-busqueda-reciente{
      height:138px;
  }
}

@media (max-width: 768px){
  .tabla-busqueda-reciente .busqueda-reciente-div-vacio{
    height:36px;
    /*width: 70%;*/
  }
}

.busqueda-reciente-imagen{
  box-sizing:border-box;
  color:rgb(55, 69, 77);
  display:block;
  float:left;
  font-size:0px;
  /*height:168px;*/
  height: 100%;
  line-height:0px;
  
  margin-bottom:8px;
  margin-left:0px;
  
  overflow-x:hidden;
  overflow-y:hidden;
  position:relative;
  vertical-align:top;
  /*width:224px;*/
  width: 22%;
}

.busqueda-reciente-top{
  box-sizing:border-box;
  color:rgb(55, 69, 77);
  display:inline-block;
  height:48px;
  margin-bottom:12px;
  margin-left:8px;
  margin-right:8px;
  margin-top:0px;
  /*width:700px;*/
  vertical-align: top;
}

.busqueda-reciente-div-vacio{
  border-bottom-color:
  rgb(205, 208, 210);
  border-bottom-style:solid;
  border-bottom-width:1px;
  box-sizing:border-box;
  color:rgb(55, 69, 77);
  display:inline-block;
  float:left;
  font-size:0px;
  height:75px;
  line-height:0px;
  margin-left:8px;
  /*min-height:75px;*/
  /*width:780px;*/
  width: 75%;
}

.busqueda-reciente-bottom{
  box-sizing:border-box;
  color:rgb(105, 115, 121);
  display:block;
  float:left;
  font-size:14px;
  height:41px;
  line-height:17.5px;
  padding-bottom:12px;
  padding-left:8px;
  padding-right:8px;
  padding-top:12px;
  position:relative;
}

.busqueda-reciente-bottom-right{
  box-sizing:border-box;
  color:rgb(55, 69, 77);
  display:block;
  float:right;
  font-size:14px;
  height:41px;
  line-height:17.5px;
  padding-bottom:12px;
  padding-left:8px;
  padding-right:8px;
  padding-top:12px;
  text-align:right;
}


/* ---- Subscripciones!!! ---- */
.envoltura-contenedor-subscripcones{
  background-attachment:scroll;
  background-clip:border-box;
  background-color:rgb(255, 255, 255);
  background-image:none;
  background-origin:padding-box;

  background-size:auto;
  
  border-bottom-color:rgb(155, 162, 166);
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  /*border-bottom-style:solid;*/
  /*border-bottom-width:1px;*/
  
  border-image-outset:0px;
  border-image-repeat:stretch;
  border-image-slice:100%;
  border-image-source:none;
  border-image-width:1;
  
  border-left-color:rgb(55, 69, 77);
  border-left-style:none;
  border-left-width:0px;
  
  border-right-color:rgb(55, 69, 77);
  border-right-style:none;
  border-right-width:0px;
  
  border-top-color:rgb(55, 69, 77);
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  border-top-style:none;
  border-top-width:0px;

  box-shadow:rgba(41, 51, 57, 0.5) 0px 1px 4px 0px;
  
  display:block;

  position: relative;
  padding: 16px 8px;
}

.contenedor-susbcripciones{
padding-bottom:16px;
padding-left:16px;
padding-right:16px;
/*padding-top:16px;*/
}

.titulo-subscripcones{
  box-sizing:border-box;
  display:block;
  font-size:16px;
  font-weight:bold;
  height:20px;
  line-height:20px;
  margin-top:0px;
}


/* ---- Alerta Precios!!! ---- */
.titulo-alerta-precios{
  text-align: left;
  box-sizing:border-box;
  display:block;
  color: #37454D;
  font-size:20px;
  line-height:25px;
  font-weight:bold;
  line-height:21px;
  margin-bottom:16px;
}

.subtitulo-alerta-precios{
  text-align: left;
  box-sizing:border-box;
  display:block;
  color: #37454D;
  font-size:14px;


  line-height:20px;
  margin-bottom:16px;
}

.envoltura-contenedor-alerta-precios{
  background-attachment:scroll;
  background-clip:border-box;
  background-color:rgb(255, 255, 255);
  background-image:none;
  background-origin:padding-box;

  background-size:auto;
  
  border-bottom-color:rgb(155, 162, 166);
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  /*border-bottom-style:solid;*/
  /*border-bottom-width:1px;*/
  
  border-image-outset:0px;
  border-image-repeat:stretch;
  border-image-slice:100%;
  border-image-source:none;
  border-image-width:1;
  
  border-left-color:rgb(55, 69, 77);
  border-left-style:none;
  border-left-width:0px;
  
  border-right-color:rgb(55, 69, 77);
  border-right-style:none;
  border-right-width:0px;
  
  border-top-color:rgb(55, 69, 77);
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  border-top-style:none;
  border-top-width:0px;

  box-shadow:rgba(41, 51, 57, 0.5) 0px 1px 4px 0px;
  
  display:block;

  position: relative;
  padding: 8px 0px;
}

.body {
  padding-bottom: 20px;
  background-color: #ebeced;
  font-family: Arial,Helvetica,Sans,Sans-Serif,Sans Serif;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  direction: ltr;
  font-size: 12px;
  display: block;
}

#parrafo2{
    border:1px #ffffff solid; 
    padding: 20px 200px;
    margin:10px;
}
 
#caja-correo{
    width: 300px; height: 35px;
}

#caja-busqueda{
    width: 500px; height: 30px;
}

#titulo-principal{
    color:#007FAD;
    padding-top: 50px;
    padding-bottom: 20px;
}

.lista-no-enumerdada{
    list-style: none;
}

.footer-fondo-pantalla-total{
    background-color: #293339;
    color: #fff;
    padding: 32px;
}

.footer-fondo-pantalla2{    
    padding: 32px;
    color: #9BA2A6;
    background: #37454D;
}

.nav{
    font-size:17px;
    color: transparent;
    
}

.nav li:hover > ul{
    display:block;
}

h1 {
    color: #0073CF;
    font-size: 32px;
}

.navbar-default{
    background-color: transparent;
}

.footer .white-logo {
    display: block;
    margin: 0 auto;
    height: 32px;
    width: 102px;
    background-size: 100%;
    background-repeat: no-repeat
}

.navbar-static-top {
  margin-bottom: 19px;
  min-height: 10px;
}

a:focus, a:hover {
    text-decoration: none;
}
.navbar {
    position: relative;
    min-height: 5px;
    margin-bottom:0;
    border:none;
    color: #9F9F9F;
 }

.hero__content {
    padding: 0 16px;
}

.caja-texto{
    border-radius: 2px 0 0 2px;
    font-size: 21px;
    padding: 0 370px 0 10px;
    text-align: left;
    height: 41px;
    border-style: none;
}

.boton{
  border-radius: 0 2px 2px 0;
  min-width: 140px;
  height: 41px;
    margin:0;
    padding-top: 14px;
    padding-right: 25px;
    padding-left: 30px;
    padding-bottom: 11px;
    font-size: 14px;
  background-color: #007fad;
  line-height:14px;
    text-align: center;
    font-weight: 700;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
  }

 .borde{
  border-color: #fff;
  margin: 0;
  border:none;
  font-size: 14px;
 
 }

.sincronizar{
  border-radius: 2px;
    margin-right: 8px;
    padding-left: 0;
    height: 42px;
    text-align: left;
    background-color: #fff;
    font-size: 12px;
    line-height: 15px;
    padding: 0 40px 0 50px;
}

.barra-texto {
    width: 2900px;
    box-sizing: 50em;
}

.barra-busqueda{
    background-color: #37454d;
    border-color: #37454d;
    padding-bottom: 10px;
}

.barra {
    background-color: #37454d;
    border-color: #37454d;
    padding-top: 15px;
    padding-bottom: 10px;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #333;
}

.btn-default:hover {
    color: #333;
    background-color: #fff;
    border-color: #333;
}

.h2{
  color: #fff;
  font-family: Arial;
}

.btn-ordenar{
  border-color: #333;
  border-radius: 2px;
    font-size: 14px;
    max-width: 394px;
    min-width: 204px;
    margin-left: 265px;
    padding-right: 30px;
    border: 1px solid #9ba2a6;
    border-radius: 2px;
}

.btn-compartir{
  background-color: #fff;
  color: #333;
  border-color: #333;
  border-radius: 2px;
    font-size: 14px;
    border: 1px solid #9ba2a6;
    border-radius: 2px;
}

.btn-hab{
    text-align: center;
    border-radius: 2px;
    margin-right: 8px;
    padding-left: 0;
    height: 40px;
    text-align: left;
    background-color: #fff;
    font-size: 15px;
    font-family: arial;
    line-height: 15px;
    padding: 0 80px 0 50px;    
}

.btn-mapa{
    border-radius: 2px;
    font-weight: bold;
    padding: 8px;
    text-align: center;
}

.h5{
    font-weight: bold;
}

.fondo-mapa {
    border-radius: 2px;
    height:10px;
    padding-bottom: 1px;
    margin-left: 400px;
}

.caja-mapa {
    box-shadow: 0 1px 4px rgba(100,51,57,.5);
    background: #fff;
    margin-bottom: 10px;
    border-radius: 2px;
    height: 70px;
    padding: 16px 1px 13px;
    margin-left: 100px;
    width: 250px;
    cursor: pointer;
}

.caja-filtros {
    line-height: 15px;
    padding-bottom: 30px;
    background-color: #fff;
    display: block;
}

.lista-f {
    width: 250px;
    overflow: hidden;
}

.borde-caja {
    box-shadow: 0 1px 4px rgba(41,51,57,.5);
    background: #fff;
    margin-bottom: 8px;
    border-radius: 2px;
}

.tabla-filtros {
    background: #fff;
    display: table;
    height: 45px;
    width: 250px;
    line-height: 15px;
}

.top-filtros{
    color: #37454d;
    font-weight: 700;
    padding-bottom: 1px;
}

.b-filtros{
    color: #37454d;
    font-weight: 400;
}

.cambiodetabla{
    border: 1px 
    solid #cdd0d2;
    vertical-align: middle;
    display: table-cell;
    height: 4px;
    text-align: center;
    font-size: 14px;
    border-width: 1px 0 1px 1px;
}

.apuntar {
    cursor: pointer;
}

.filtros{
    height: 652px;
}

.correo{
    border-radius: 2px;
    height: 35px;
    padding-right: 90px;
    text-align: left;
}

.btn-suscribirse{
    background-color: #37454D;
    font-weight: bold;
}

.tablas-grupo {
    padding: 16px 16px;
    position: relative;
    text-align: left;
}

.letra-filtros {
    color: inherit;
    margin: 0 0 14px;
    line-height: 12px;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 14px;
}

.precios{
    color: #007fad;
    line-height: 12px;
    font-weight: 700;
    font-size: 12px;

}

.tabla-botones {
    margin-bottom: 0;
    width: 105%;
}
.boton-estrellas{
    border-color: #F6AB3F;
    opacity: 1;
    border: 1px;
    border-radius: 2px;
    float: left;
    height: 36px;
    width: 36px;
    cursor: pointer;
    border-radius: 2px;
}

.grupo-botones {
    border-color: #F6AB3F;
    opacity: 1;
    border: 1px solid #697379;
    border-radius: 2px;
    float: left;
    height: 36px;
    width: 36px;
    cursor: pointer;
    border-radius: 2px;
}

.espacio-botones{
    margin-left: 9px;
}

.btn-danger{
    background-color: #a3171a;
}

.btn-danger:hover{
    background-color: #8D1416;
}

.btn-warning{
    background-color: #e57a00;
}

.btn-warning:hover{
    background-color: #CC6C00;
}

.btn-bueno{
    background-color: #98bf6a;
    color: #fff;
}

.btn-bueno:hover{
    background-color: #8CB758;
    color: #fff;
}

.btn-muybueno{
    background-color: #72ac2f;
    color: #fff;
}

.btn-muybueno:hover{
    background-color: #65982A;
    color: #fff;
}

.btn-exc{
    background-color: #007400;
    color: #fff;
}

.btn-exc:hover{
    background-color: #005B00;
    color: #fff;
}

.rango-precios {
    margin-top: 25px;
    color: #333;
}

.precio-minimo{
    float: left;
}

.precio-max{
    float: right;
    text-align: right;
}

.precio-max-min {
    height: 16px;
    overflow: hidden;
    padding-top: 3px;
    width: 60px;
    font-size: 12px;
    font-weight: 400;
}

.max {
    width: 250px;
    margin-top: -13px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    font-weight: 400;
    color: #527FB2;
    position: absolute;
    text-align: center;
    left: 0;
    font-family: arial;
}

.barra-precios {
    cursor: pointer;
    height: 24px;
    position: relative;
    margin-top: 8px;
    margin-right: 24px;
}

.rango {
    position: absolute;
    top: 11px;
    border-radius: 3px;
    height: 6px;
    box-sizing: content-box;
    padding-right: 24px;
}

.boton-precios {
    width: 24px;
    height: 24px;
    border: 1px solid #9ba2a6;
    border-radius: 1em;
    position: absolute;
    z-index: 1;
}

.barra-pequeña{
    background: #007fad;
    position: absolute;
    top: 11px;
    border-radius: 3px;
    height: 6px;
    padding-right: 24px;
}

.hoteles-disponibles{
    margin-top: 0;
    padding: 4px;
    display: table;
    vertical-align: middle;
}

.btn-hotel{
    border-color: none;
    background-color: #fff;
    position: absolute;
    top: 0;
    width: 36px;
    height: 30px;
    margin-top: 42px;
    margin-right: 20px;
    right: 0;
    border: 1px;
}

.caja-hotel{
    width: 100%;
    height: 36px;
    border-radius: 2px;
    border: 1px solid #697379;
    -webkit-appearance: none;
    padding: 0 36px 0 12px;
    float: left;
}

.btn-borrar{
    background-color: #fff;
    border: 1px solid #37454D;
    border-radius: 2px;
    font-weight: bold;
    margin-top: 10px;
    font-size: 14px;
    margin-left: 20px;
}

.hr{
    margin-top: 35px;
    margin-bottom: -5px;
}

.lista-hoteles{
    max-width: 850px;
    margin: 0 auto;
    position: relative; 
    background-color:#fff;
    background-color: #fff;
    margin-right: 140px;
    margin-top: 10px;
    box-shadow: 0 1px 4px rgba(41,51,57,.5);
}

.imagenes-hoteles{
    position: relative;
}

.imagen{
    position: absolute;
    top: 0;
    border-radius: 2px;
    height:170px;
}

.borde-imagen{
    padding: 8px 8px 8px 8px;
}

.detalles.hotel{
    float: left;
    padding: 0 8px 0 4px;
    margin-top: 8px;
    margin-right: 0;
    margin-left: 0;
    text-align: right;

}

.nombres{
    margin-bottom: 16px;
}

.nombre-hotel{
    font-size: 20px;
    margin-left: 180px;
    font-weight: bold;
    margin-top: 0;
}

.ubicacion{
    padding-top: 5px;
    margin-left: 180px;
    font-size: 14px;
}

.boton-excelente{
    margin-left: 180px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #007400; 
    width: 24px;
    height: 24px;  
    border-radius: 2px;
    text-align: center;
    padding: 2px 0;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-top: 8px;
}

.boton-excelente:hover{
    color: white;
    background-color: #007400;
}

.detalles-boton{
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
    vertical-align: middle;
    margin-top: 8px;

}

.calidad{
    font-weight: bold;
    font-size: 14px;
}

.opiniones{
    font-size: 14px;
}

.btn-alberca{
    margin-left: 180px;
    margin-top: 10px;
    height: 25px;
    width: 100px;
    border-radius: 15px;
    text-align: center;
    padding: 2px 0;
    font-size: 12px;
    background-color: #EBECED;
    margin-bottom: 20px;
}

.paginas{
    width: 17%;
    text-align: center;
    color: #697379;
    border-right: 1px solid #cdd0d2;
    border-left: 1px solid #cdd0d2;
    margin-left: 0px;
    margin-top: 8px;

}

.btn-pag{
    border-color: #fff;
    background-color: #fff;
    color: #697379;
    font-size: 12px;
    font: inherit;
}

.btn-pag : hover{
    border-color: #fff;
    background-color: #fff;
    color: #697379;
}

.hr1{
    margin-top: 0;
    margin-bottom: 1px;
    width: 90px;
}

.ultimo-cuadro{
    display: flex;
    width: 25%;
    padding: 8px;
    text-align: center;

}

.precio-rojo{
    color: #C94A30;
    font-size: 18px;
}

.precio-verde{
    color: #66a400;
    font-size: 18px;
}

.btn-desayuno{
    margin-top: 10px;
    border-color: #7FA418;
    background-color: #fff;
    color: #7FA418;
    font-size: 12px;
    width: 200px;
    border-radius: 2px;
    height: 25px;
    text-align: top;
    line-height: 1;
    margin-bottom: 4px;
}

.btn-oferta{
    font-weight: bold;
    background-color: #66a400;
    border-color: #66a400;
    color: #fff;
    width: 200px;
    border-radius: 2px;
}

.btn-oferta:hover{
    background-color: #4C7B00;
    color: #fff;
}

.btn-5estrellas{
    margin-left: 180px;
    width: 67px;
    height: 20px;
}

.btn-estrellas{
    margin-top: -5px;
    display: inline-block;
    vertical-align: middle;
}

.btn-wifi{
    margin-bottom: 5px;
    height: 25px;
    margin-left: 180px;
    font-size: 12px;
    text-align: center;
    border-radius: 15px;
    background-color: #EBECED;
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle;
}

.btn-3estrellas{
    margin-left: 180px;
    width: 40px;
    height: 20px;
}

.detalles-estrellas{
    font-size: 14px;
}

.boton-bien{
    margin-left: 180px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #98BF6A; 
    width: 24px;
    height: 24px;  
    border-radius: 2px;
    text-align: center;
    padding: 2px 0;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-top: 8px;
}

.btn-mejor{
    color: #4c7b00;
    border-color: #66a400;
    background-color: #fff;
    height: 21px;
    width: 120px;
    font-weight: 400;
    border-radius: 2px;
    line-height: 0.5;
}

.btn-mejor:hover{
    color: #4c7b00;
    border-color: #66a400; 
}

.btn-4estrellas{
    margin-left: 180px;
    width: 52px;
    height: 20px;
}

.btn-2estrellas{
    margin-left: 180px;
    width: 25px;
    height: 20px;
}

.btn-ok{
    margin-left: 180px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #E57A00; 
    width: 24px;
    height: 24px;  
    border-radius: 2px;
    text-align: center;
    padding: 2px 0;
}

.boton-muybueno{
    margin-left: 180px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #72AC2F; 
    width: 24px;
    height: 24px;  
    border-radius: 2px;
    text-align: center;
    padding: 2px 0;
}

.btn-malo{
    margin-left: 180px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #A3171A; 
    width: 24px;
    height: 24px;  
    border-radius: 2px;
    text-align: center;
    padding: 2px 0;
}

.boton-alberca{
    margin-top: 25px;
    height: 25px;
    width: 100px;
    border-radius: 15px;
    text-align: center;
    padding: 2px 0;
    font-size: 12px;
    background-color: #EBECED;
    margin-bottom: 20px;
}

.sitio-web{
    background-color: #E5F2F6;
    color: #59A9D5;
    width: 120px;
    border-radius: 2px;
    font-size: 12px;
    font-family: Arial;
    font: inherit;
}
body {
  background-color: #EBECED;
  box-sizing: border-box; /*Inherited: No*/
  font-family: Arial, Helvetica, Sans, sans-serif, "Sans Serif";
  font-size: 16px; 
  line-height: 20px; /*Inherited: Yes - Interlineado*/
  margin: 0; /*Inherited: No*/
  max-width: 100%; /*Inherited: No*/
  overflow-x: hidden;
  overflow-y: scroll;
}

#barra-menu {
  background-color: white;
}

.nav {
  font-size:17px;
}

.nav li:hover > ul{
  display:block;
}

/*Esto es para el logo de Trivago en la barra superior*/
@media (min-width: 768px){
  .navbar-header {
    float: none;
  }
}

@media (max-width: 767px){
  .foto {
    display: inline-block;
    margin: 15px auto;
    margin-left: 0px;
    width: 152px;
  }
}

@media (min-width: 768px){
  .foto {
    display: inline-block;
    margin: 15px auto;
    margin-left: 116px;
    width: 152px;
  }
}

.float-derecha {
  float: right;
  margin: 8px auto;
  width: 148px;
  margin-top: 12px;
}

.envoltorio-total{
  box-sizing:border-box;
  color:rgb(55, 69, 77);
  display:block;
  font-size:16px;
  /*height:553px;*/
  line-height:20px;
  margin-left:0px;
  margin-right:0px;
  margin-top:16px;
  /*max-width:816px;*/
  padding-left:0px;
  padding-right:0px;
  position:relative;
  /*width:816px;*/
}

.envoltura-exterior-cajas-registro{
  background-color: 235, 236, 237;
  box-sizing:border-box;
  display:flex;
  font-size:16px;
  /*height:289px;*/
  line-height:20px;
  margin-bottom:12px;
  margin-left:-8px;
  margin-right:-8px;
  margin-top:16px;
}

.envoltura-caja-registro{
  box-sizing:border-box;
  display:flex;
  flex-direction:column;
  font-size:16px;
  /*height:500px;*/
  line-height:20px;
  padding-left:8px;
  padding-right:8px;
  margin-bottom: 8px;
  /*width:416px;*/
}

.caja-registro{
  /*background-attachment:scroll;*/
  background-clip:border-box;
  background-color:rgb(255, 255, 255);
  background-origin:padding-box;
  background-size:auto;
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  box-shadow:rgba(41, 51, 57, 0.5) 0px 1px 4px 0px;
  box-sizing:border-box;
  display:block;
  flex-basis:auto;
  flex-grow:1;
  flex-shrink:0;
  font-size:16px;
  /*height:289px;*/
  line-height:20px;
  padding-left:16px;
  padding-right:16px;
  text-align:left;
}

.titulo-caja-registro{
  box-sizing:border-box;
  color:rgb(55, 69, 77);
  display:block;
  font-size:20px;
  font-weight:normal;
  line-height:25px;
  text-align:left;
}

.subtitulos-caja-registro{
  box-sizing:border-box;
  color:rgb(55, 69, 77);
  cursor:default;
  /*display:block;*/
  font-size:14px;
  font-weight:bold;
  height:17px;
  line-height:17.5px;
  margin-bottom:4px;
  /*max-width:100%;*/
  /*width:352px;*/
}

.letras-rojas{
  color: red;
  margin: 0px;
  display: block;
}

.tamanio-botones-sociales{
  max-width: 100%;
  min-width: 100%;
}

.barrita-top{
  border-top-color:rgb(205, 208, 210);
  border-top-style:solid;
  border-top-width:1px;
  padding-top: 10px;
  margin-top: 10px;
}

.subtitulos-password{
  border-collapse:separate;
  box-sizing:border-box;
  color:rgb(55, 69, 77);
  display:table-cell;
  font-size:14px;
  font-weight:normal;
  height:20px;
  line-height:17.5px;
  margin-bottom:4px;
  max-width:100%;
  position:relative;
  vertical-align:middle;
  /*width:173px;*/
}

.boton-color-rojo {
  background-color: #dd4b39;;
}
.boton-color-rojo:hover {
  background-color: #E64C39;
}
.boton-color-rojo:active {
  background-color: #E64C39;
}


.boton-color-azul {
  background-color: #4f6a9c;
}
.boton-color-azul:hover {
  background-color: #4264B7;
}
.boton-color-azul:active {
  background-color: #4264B7;
}

.envoltura-botones-sociales{
  align-items:flex-start;
  
  border-bottom-color:rgb(255, 255, 255);
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  border-bottom-style:none;
  border-bottom-width:0px;
  
  border-image-outset:0px;
  border-image-repeat:stretch;
  border-image-slice:100%;
  border-image-source:none;
  border-image-width:1;
  
  border-left-color:rgb(255, 255, 255);
  border-left-style:none;
  border-left-width:0px;
  
  border-right-color:rgb(255, 255, 255);
  border-right-style:none;
  border-right-width:0px;
  
  border-top-color:rgb(255, 255, 255);
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  border-top-style:none;
  border-top-width:0px;
  
  box-sizing:border-box;
  color:rgb(255, 255, 255);
  cursor:pointer;
  display:block;
  font-size:16px;
  font-weight:bold;

  height:44px;
  line-height:16px;
  margin-bottom:16px;
  margin-left:0px;
  margin-right:0px;
  margin-top:0px;
  
  overflow-x:hidden;
  overflow-y:hidden;

  position:relative;
  text-align:center;
  text-decoration-color:rgb(255, 255, 255);
  text-decoration-line:none;
  text-decoration-style:solid;
  text-indent:0px;

  vertical-align:middle;
  width:100%;
}

.boton-letras-interior{
  box-sizing:border-box;
  color:rgb(255, 255, 255);
  cursor:pointer;
  display:inline;

  font-size:16px;
  font-weight:bold;
  height:auto;
  letter-spacing:normal;
  line-height:16px;
  text-align:center;
  text-indent:0px;
}

.boton-letras-interior-dos{
  box-sizing:border-box;
  color:rgb(255, 255, 255);
  cursor:pointer;
  display:inline;

  font-size:16px;
  height:auto;
  letter-spacing:normal;
  line-height:16px;
  text-align:center;
  text-indent:0px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.parrafo-footer{
  margin-top: 8px;
  padding-left:10px;
  padding-right:10px;
}

.parrafo-footer2{
  padding-left:10px;
  padding-right:10px;
  padding-top: 16px;
  padding-bottom: 8px;
}

.parrafo-con-margin{
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}
/*
input:invalid {
  border-color: red;
}
*/
input:valid {
  border-color: #ccc;
}

input:focus:invalid {
  border-color: red;
}